/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.editorconfig
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
/.fleet
/.idea
/.vscode
/setup/db_data
/nbproject
laravel-react.code-workspace
/setup/opensearch-data1
/setup/opensearch-data2
